/* Tamaño del scroll */
body::-webkit-scrollbar {
  width: 10px;
}

/* Estilos barra (thumb) de scroll */
body::-webkit-scrollbar-thumb {
  background: #1abc9c;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #1abc9c;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
body::-webkit-scrollbar-track {
  background: #2c3e50;
  /*border-radius: 4px;*/
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: white;
}
