.container-login {
  margin: 0 auto;
}

.card-login {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  margin-top: 15%;
}

.card-img-login {
  margin: 0 auto;
  left: 50%;
  padding: 10px;
}
.card-title {
  text-transform: uppercase;
  text-align: center;
}
