/// Default color variables
$primary-color: #2C3E50;
$accent-color: #1ABC9C;
$header-color: #2C3E50;
$heading-color: #333333;
$text-color: #666666;
//$boton-color:

/// Fonts Variables
$accent-font: 'Roboto', sans-serif;
$heading-font: 'Architects Daughter', cursive;
$text-font: 'Open Sans', sans-serif;
